body {
  text-align : center;
}
canvas {
  display : block;
  width : 100%;
  height : 100%px;
  margin : auto;
  padding : 0;
  border : none;
  background-color : black;
}
button {
  display : block;
  font-size : inherit;
  margin : auto;
  padding : 0.6em;
}
